/****** Object:  Trigger [attacks_quick_disjoint]    Script Date: 26/11/2016 20:17:48 ******/
DROP TRIGGER IF EXISTS [dbo].[attacks_quick_disjoint]
GO
/****** Object:  Trigger [attacks_charge_disjoint]    Script Date: 26/11/2016 20:17:48 ******/
DROP TRIGGER IF EXISTS [dbo].[attacks_charge_disjoint]
GO
/****** Object:  StoredProcedure [dbo].[sp_stab]    Script Date: 26/11/2016 20:17:48 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_stab]
GO
/****** Object:  StoredProcedure [dbo].[sp_battle]    Script Date: 26/11/2016 20:17:48 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_battle]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[types_types]') AND type in (N'U'))
ALTER TABLE [dbo].[types_types] DROP CONSTRAINT IF EXISTS [FK_types_types_types1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[types_types]') AND type in (N'U'))
ALTER TABLE [dbo].[types_types] DROP CONSTRAINT IF EXISTS [FK_types_types_types]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons_types]') AND type in (N'U'))
ALTER TABLE [dbo].[pokemons_types] DROP CONSTRAINT IF EXISTS [FK_pokemons_types_types]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons_types]') AND type in (N'U'))
ALTER TABLE [dbo].[pokemons_types] DROP CONSTRAINT IF EXISTS [FK_pokemons_types_pokemons]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]') AND type in (N'U'))
ALTER TABLE [dbo].[pokemons_attacks] DROP CONSTRAINT IF EXISTS [FK_pokemons_attacks_pokemons]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]') AND type in (N'U'))
ALTER TABLE [dbo].[pokemons_attacks] DROP CONSTRAINT IF EXISTS [FK_pokemons_attacks_attacks]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons]') AND type in (N'U'))
ALTER TABLE [dbo].[pokemons] DROP CONSTRAINT IF EXISTS [FK_pokemons_pokemons]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks_quick]') AND type in (N'U'))
ALTER TABLE [dbo].[attacks_quick] DROP CONSTRAINT IF EXISTS [FK_attacks_quick_attacks]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks_charge]') AND type in (N'U'))
ALTER TABLE [dbo].[attacks_charge] DROP CONSTRAINT IF EXISTS [FK_attacks_charge_attacks]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks]') AND type in (N'U'))
ALTER TABLE [dbo].[attacks] DROP CONSTRAINT IF EXISTS [FK_attacks_types]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks]') AND type in (N'U'))
ALTER TABLE [dbo].[attacks] DROP CONSTRAINT IF EXISTS [FK_attacks_attacks_types]
GO
/****** Object:  Table [dbo].[TypesMultiplier]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[TypesMultiplier]
GO
/****** Object:  Table [dbo].[types_types]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[types_types]
GO
/****** Object:  Table [dbo].[types]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[types]
GO
/****** Object:  Table [dbo].[pokemons_types]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[pokemons_types]
GO
/****** Object:  Table [dbo].[pokemons_attacks]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[pokemons_attacks]
GO
/****** Object:  Table [dbo].[pokemons]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[pokemons]
GO
/****** Object:  Table [dbo].[attacks_types]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[attacks_types]
GO
/****** Object:  Table [dbo].[attacks_quick]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[attacks_quick]
GO
/****** Object:  Table [dbo].[attacks_charge]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[attacks_charge]
GO
/****** Object:  Table [dbo].[attacks]    Script Date: 26/11/2016 20:17:48 ******/
DROP TABLE IF EXISTS [dbo].[attacks]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_stab]    Script Date: 26/11/2016 20:17:48 ******/
DROP FUNCTION IF EXISTS [dbo].[fn_stab]
GO
/****** Object:  Database [pogym]    Script Date: 26/11/2016 20:17:48 ******/
DROP DATABASE IF EXISTS [pogym]
GO
/****** Object:  Database [pogym]    Script Date: 26/11/2016 20:17:48 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'pogym')
BEGIN
CREATE DATABASE [pogym]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pogym', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL3\MSSQL\DATA\pogym.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pogym_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL3\MSSQL\DATA\pogym_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pogym].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pogym]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_stab]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_stab]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[fn_stab]
(
    @pokemon_id int
   ,@type_id int
)
RETURNS int
AS
BEGIN
	DECLARE @out int = 0

	if(exists(select pokemon_type_id
	            from pokemons_types
	           where pokemon_id = @pokemon_id
			     and type_id = @type_id))
	begin
	  set @out = 1
	end

	RETURN @out
END
' 
END

GO
/****** Object:  Table [dbo].[attacks]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[attacks](
	[attack_id] [int] NOT NULL,
	[attack_type_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type_id] [int] NOT NULL,
	[damage] [decimal](18, 2) NOT NULL,
	[damage_stab]  AS ([damage]*(1.25)),
	[damageps] [decimal](18, 2) NOT NULL,
	[damageps_stab]  AS ([damageps]*(1.25)),
	[move_cooldown] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_attacks] PRIMARY KEY CLUSTERED 
(
	[attack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[attacks_charge]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks_charge]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[attacks_charge](
	[attack_id] [int] NOT NULL,
	[charge] [int] NOT NULL,
	[critical] [decimal](18, 2) NOT NULL,
	[dodge] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_attacks_charge] PRIMARY KEY CLUSTERED 
(
	[attack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[attacks_quick]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks_quick]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[attacks_quick](
	[attack_id] [int] NOT NULL,
	[energyps] [decimal](18, 2) NOT NULL,
	[energypu] [decimal](18, 2) NOT NULL,
	[defensive_damageps] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_attacks_quick] PRIMARY KEY CLUSTERED 
(
	[attack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[attacks_types]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[attacks_types]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[attacks_types](
	[attack_type_id] [int] NOT NULL,
	[type] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_attack_types] PRIMARY KEY CLUSTERED 
(
	[attack_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[pokemons]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pokemons](
	[pokemon_id] [int] NOT NULL,
	[evolvefrom_pokemon_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](400) NULL,
	[image] [nvarchar](400) NULL,
	[url] [nvarchar](400) NOT NULL,
	[height_avg] [decimal](18, 2) NOT NULL,
	[weight_avg] [decimal](18, 2) NOT NULL,
	[combatpower_max] [int] NOT NULL,
	[attack_base] [int] NOT NULL,
	[defense_base] [int] NOT NULL,
	[stamina_base] [int] NOT NULL,
 CONSTRAINT [PK_pokemon] PRIMARY KEY CLUSTERED 
(
	[pokemon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[pokemons_attacks]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pokemons_attacks](
	[pokemon_attack_id] [int] IDENTITY(1,1) NOT NULL,
	[pokemon_id] [int] NOT NULL,
	[attack_id] [int] NOT NULL,
	[true_damageps] [decimal](18, 2) NULL,
 CONSTRAINT [PK_pokemons_attacks] PRIMARY KEY CLUSTERED 
(
	[pokemon_attack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[pokemons_types]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pokemons_types]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pokemons_types](
	[pokemon_type_id] [int] IDENTITY(1,1) NOT NULL,
	[pokemon_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
 CONSTRAINT [PK_pokemons_types] PRIMARY KEY CLUSTERED 
(
	[pokemon_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[types]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[types]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[types](
	[type_id] [int] NOT NULL,
	[type] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](400) NULL,
 CONSTRAINT [PK_types] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[types_types]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[types_types]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[types_types](
	[type_type_id] [int] IDENTITY(1,1) NOT NULL,
	[attacker_type_id] [int] NOT NULL,
	[defender_type_id] [int] NOT NULL,
	[multiplier] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_types_types] PRIMARY KEY CLUSTERED 
(
	[type_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TypesMultiplier]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TypesMultiplier]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TypesMultiplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](255) NULL,
	[NORMAL] [float] NULL,
	[FIGHTING] [float] NULL,
	[FLYING] [float] NULL,
	[POISON] [float] NULL,
	[GROUND] [float] NULL,
	[ROCK] [float] NULL,
	[BUG] [float] NULL,
	[GHOST] [float] NULL,
	[STEEL] [float] NULL,
	[FIRE] [float] NULL,
	[WATER] [float] NULL,
	[GRASS] [float] NULL,
	[ELECTRIC] [float] NULL,
	[PSYCHIC] [float] NULL,
	[ICE] [float] NULL,
	[DRAGON] [float] NULL,
	[DARK] [float] NULL,
	[FAIRY] [float] NULL,
 CONSTRAINT [PK_TypesMultiplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[attacks] ([attack_id], [attack_type_id], [name], [type_id], [damage], [damageps], [move_cooldown]) VALUES (1, 1, N'Splash', 11, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.23 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks] ([attack_id], [attack_type_id], [name], [type_id], [damage], [damageps], [move_cooldown]) VALUES (2, 1, N'Fury Cutter', 7, CAST(3.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), CAST(0.40 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks] ([attack_id], [attack_type_id], [name], [type_id], [damage], [damageps], [move_cooldown]) VALUES (3, 1, N'Low Kick', 2, CAST(5.00 AS Decimal(18, 2)), CAST(8.33 AS Decimal(18, 2)), CAST(0.60 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_charge] ([attack_id], [charge], [critical], [dodge]) VALUES (40, 5, CAST(0.05 AS Decimal(18, 2)), CAST(1.40 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_charge] ([attack_id], [charge], [critical], [dodge]) VALUES (42, 5, CAST(0.05 AS Decimal(18, 2)), CAST(2.45 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_charge] ([attack_id], [charge], [critical], [dodge]) VALUES (43, 5, CAST(0.05 AS Decimal(18, 2)), CAST(1.10 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_quick] ([attack_id], [energyps], [energypu], [defensive_damageps]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_quick] ([attack_id], [energyps], [energypu], [defensive_damageps]) VALUES (2, CAST(15.00 AS Decimal(18, 2)), CAST(6.00 AS Decimal(18, 2)), CAST(1.25 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_quick] ([attack_id], [energyps], [energypu], [defensive_damageps]) VALUES (3, CAST(11.67 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), CAST(1.92 AS Decimal(18, 2)))
GO
INSERT [dbo].[attacks_types] ([attack_type_id], [type]) VALUES (1, N'Quick Move')
GO
INSERT [dbo].[attacks_types] ([attack_type_id], [type]) VALUES (2, N'Charge Move')
GO
INSERT [dbo].[pokemons] ([pokemon_id], [evolvefrom_pokemon_id], [name], [icon], [image], [url], [height_avg], [weight_avg], [combatpower_max], [attack_base], [defense_base], [stamina_base]) VALUES (1, NULL, N'Bulbasaur', N'/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png', N'/sites/default/files/styles/240w/public/2016-08/1_0.png', N'/pokemon/1', CAST(0.70 AS Decimal(18, 2)), CAST(6.90 AS Decimal(18, 2)), 1071, 126, 126, 90)
GO
INSERT [dbo].[pokemons] ([pokemon_id], [evolvefrom_pokemon_id], [name], [icon], [image], [url], [height_avg], [weight_avg], [combatpower_max], [attack_base], [defense_base], [stamina_base]) VALUES (2, NULL, N'Ivysaur', N'/sites/default/files/styles/pokemon_small/public/2016-08/2.png', N'/sites/default/files/styles/240w/public/2016-08/2.png', N'/pokemon/2', CAST(1.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(18, 2)), 1632, 156, 158, 120)
GO
INSERT [dbo].[pokemons] ([pokemon_id], [evolvefrom_pokemon_id], [name], [icon], [image], [url], [height_avg], [weight_avg], [combatpower_max], [attack_base], [defense_base], [stamina_base]) VALUES (3, NULL, N'Venusaur', N'/sites/default/files/styles/pokemon_small/public/2016-07/3.png', N'/sites/default/files/styles/240w/public/2016-07/3.png', N'/pokemon/3', CAST(2.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), 2580, 198, 200, 160)
GO
SET IDENTITY_INSERT [dbo].[pokemons_attacks] ON 

GO
INSERT [dbo].[pokemons_attacks] ([pokemon_attack_id], [pokemon_id], [attack_id], [true_damageps]) VALUES (16, 1, 33, NULL)
GO
INSERT [dbo].[pokemons_attacks] ([pokemon_attack_id], [pokemon_id], [attack_id], [true_damageps]) VALUES (17, 1, 17, NULL)
GO
INSERT [dbo].[pokemons_attacks] ([pokemon_attack_id], [pokemon_id], [attack_id], [true_damageps]) VALUES (18, 1, 111, NULL)
GO
SET IDENTITY_INSERT [dbo].[pokemons_attacks] OFF
GO
SET IDENTITY_INSERT [dbo].[pokemons_types] ON 

GO
INSERT [dbo].[pokemons_types] ([pokemon_type_id], [pokemon_id], [type_id]) VALUES (7, 1, 12)
GO
INSERT [dbo].[pokemons_types] ([pokemon_type_id], [pokemon_id], [type_id]) VALUES (8, 1, 4)
GO
INSERT [dbo].[pokemons_types] ([pokemon_type_id], [pokemon_id], [type_id]) VALUES (9, 2, 12)
GO
SET IDENTITY_INSERT [dbo].[pokemons_types] OFF
GO
INSERT [dbo].[types] ([type_id], [type], [icon]) VALUES (1, N'Normal', N'/sites/default/files/2016-07/normal.gif')
GO
INSERT [dbo].[types] ([type_id], [type], [icon]) VALUES (2, N'Fighting', N'/sites/default/files/2016-07/fighting.gif')
GO
INSERT [dbo].[types] ([type_id], [type], [icon]) VALUES (3, N'Flying', N'/sites/default/files/2016-07/flying.gif')
GO
SET IDENTITY_INSERT [dbo].[types_types] ON 

GO
INSERT [dbo].[types_types] ([type_type_id], [attacker_type_id], [defender_type_id], [multiplier]) VALUES (1, 1, 1, CAST(1.0000 AS Decimal(18, 4)))
GO
INSERT [dbo].[types_types] ([type_type_id], [attacker_type_id], [defender_type_id], [multiplier]) VALUES (2, 1, 10, CAST(1.0000 AS Decimal(18, 4)))
GO
INSERT [dbo].[types_types] ([type_type_id], [attacker_type_id], [defender_type_id], [multiplier]) VALUES (3, 1, 11, CAST(1.0000 AS Decimal(18, 4)))
GO
SET IDENTITY_INSERT [dbo].[types_types] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesMultiplier] ON 

GO
INSERT [dbo].[TypesMultiplier] ([ID], [TYPE], [NORMAL], [FIGHTING], [FLYING], [POISON], [GROUND], [ROCK], [BUG], [GHOST], [STEEL], [FIRE], [WATER], [GRASS], [ELECTRIC], [PSYCHIC], [ICE], [DRAGON], [DARK], [FAIRY]) VALUES (1, N'NORMAL', 1, 1, 1, 1, 1, 0.8, 1, 0.8, 0.8, 1, 1, 1, 1, 1, 1, 1, 1, 1)
GO
INSERT [dbo].[TypesMultiplier] ([ID], [TYPE], [NORMAL], [FIGHTING], [FLYING], [POISON], [GROUND], [ROCK], [BUG], [GHOST], [STEEL], [FIRE], [WATER], [GRASS], [ELECTRIC], [PSYCHIC], [ICE], [DRAGON], [DARK], [FAIRY]) VALUES (2, N'FIGHTING', 1.25, 1, 0.8, 0.8, 1, 1.25, 0.8, 0.8, 1.25, 1, 1, 1, 1, 0.8, 1.25, 1, 1.25, 0.8)
GO
INSERT [dbo].[TypesMultiplier] ([ID], [TYPE], [NORMAL], [FIGHTING], [FLYING], [POISON], [GROUND], [ROCK], [BUG], [GHOST], [STEEL], [FIRE], [WATER], [GRASS], [ELECTRIC], [PSYCHIC], [ICE], [DRAGON], [DARK], [FAIRY]) VALUES (3, N'FLYING', 1, 1.25, 1, 1, 1, 0.8, 1.25, 1, 0.8, 1, 1, 1.25, 0.8, 1, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[TypesMultiplier] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_attacks_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks]'))
ALTER TABLE [dbo].[attacks]  WITH CHECK ADD  CONSTRAINT [FK_attacks_attacks_types] FOREIGN KEY([attack_type_id])
REFERENCES [dbo].[attacks_types] ([attack_type_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_attacks_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks]'))
ALTER TABLE [dbo].[attacks] CHECK CONSTRAINT [FK_attacks_attacks_types]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks]'))
ALTER TABLE [dbo].[attacks]  WITH CHECK ADD  CONSTRAINT [FK_attacks_types] FOREIGN KEY([type_id])
REFERENCES [dbo].[types] ([type_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks]'))
ALTER TABLE [dbo].[attacks] CHECK CONSTRAINT [FK_attacks_types]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_charge_attacks]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks_charge]'))
ALTER TABLE [dbo].[attacks_charge]  WITH CHECK ADD  CONSTRAINT [FK_attacks_charge_attacks] FOREIGN KEY([attack_id])
REFERENCES [dbo].[attacks] ([attack_id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_charge_attacks]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks_charge]'))
ALTER TABLE [dbo].[attacks_charge] CHECK CONSTRAINT [FK_attacks_charge_attacks]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_quick_attacks]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks_quick]'))
ALTER TABLE [dbo].[attacks_quick]  WITH CHECK ADD  CONSTRAINT [FK_attacks_quick_attacks] FOREIGN KEY([attack_id])
REFERENCES [dbo].[attacks] ([attack_id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_attacks_quick_attacks]') AND parent_object_id = OBJECT_ID(N'[dbo].[attacks_quick]'))
ALTER TABLE [dbo].[attacks_quick] CHECK CONSTRAINT [FK_attacks_quick_attacks]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_pokemons]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons]'))
ALTER TABLE [dbo].[pokemons]  WITH CHECK ADD  CONSTRAINT [FK_pokemons_pokemons] FOREIGN KEY([evolvefrom_pokemon_id])
REFERENCES [dbo].[pokemons] ([pokemon_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_pokemons]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons]'))
ALTER TABLE [dbo].[pokemons] CHECK CONSTRAINT [FK_pokemons_pokemons]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_attacks_attacks]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]'))
ALTER TABLE [dbo].[pokemons_attacks]  WITH CHECK ADD  CONSTRAINT [FK_pokemons_attacks_attacks] FOREIGN KEY([attack_id])
REFERENCES [dbo].[attacks] ([attack_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_attacks_attacks]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]'))
ALTER TABLE [dbo].[pokemons_attacks] CHECK CONSTRAINT [FK_pokemons_attacks_attacks]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_attacks_pokemons]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]'))
ALTER TABLE [dbo].[pokemons_attacks]  WITH CHECK ADD  CONSTRAINT [FK_pokemons_attacks_pokemons] FOREIGN KEY([pokemon_id])
REFERENCES [dbo].[pokemons] ([pokemon_id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_attacks_pokemons]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_attacks]'))
ALTER TABLE [dbo].[pokemons_attacks] CHECK CONSTRAINT [FK_pokemons_attacks_pokemons]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_types_pokemons]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_types]'))
ALTER TABLE [dbo].[pokemons_types]  WITH CHECK ADD  CONSTRAINT [FK_pokemons_types_pokemons] FOREIGN KEY([pokemon_id])
REFERENCES [dbo].[pokemons] ([pokemon_id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_types_pokemons]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_types]'))
ALTER TABLE [dbo].[pokemons_types] CHECK CONSTRAINT [FK_pokemons_types_pokemons]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_types_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_types]'))
ALTER TABLE [dbo].[pokemons_types]  WITH CHECK ADD  CONSTRAINT [FK_pokemons_types_types] FOREIGN KEY([type_id])
REFERENCES [dbo].[types] ([type_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_pokemons_types_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[pokemons_types]'))
ALTER TABLE [dbo].[pokemons_types] CHECK CONSTRAINT [FK_pokemons_types_types]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_types_types_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[types_types]'))
ALTER TABLE [dbo].[types_types]  WITH CHECK ADD  CONSTRAINT [FK_types_types_types] FOREIGN KEY([attacker_type_id])
REFERENCES [dbo].[types] ([type_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_types_types_types]') AND parent_object_id = OBJECT_ID(N'[dbo].[types_types]'))
ALTER TABLE [dbo].[types_types] CHECK CONSTRAINT [FK_types_types_types]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_types_types_types1]') AND parent_object_id = OBJECT_ID(N'[dbo].[types_types]'))
ALTER TABLE [dbo].[types_types]  WITH CHECK ADD  CONSTRAINT [FK_types_types_types1] FOREIGN KEY([defender_type_id])
REFERENCES [dbo].[types] ([type_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_types_types_types1]') AND parent_object_id = OBJECT_ID(N'[dbo].[types_types]'))
ALTER TABLE [dbo].[types_types] CHECK CONSTRAINT [FK_types_types_types1]
GO
/****** Object:  StoredProcedure [dbo].[sp_battle]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_battle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_battle] AS' 
END
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_battle]
	@type1 int = 0
   ,@type2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select ta.type_id
	      ,ta.type
	      ,EXP(SUM(LOG(tt.multiplier))) as multiplier
	from types_types as tt inner join types as ta on ta.type_id = tt.attacker_type_id
						   inner join types as td on td.type_id = tt.defender_type_id
	where defender_type_id in(@type1,@type2)
	group by ta.type_id, ta.type
	--having EXP(SUM(LOG(tt.multiplier))) <> 1
	order by EXP(SUM(LOG(tt.multiplier))) desc

END


GO
/****** Object:  StoredProcedure [dbo].[sp_stab]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_stab]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_stab] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_stab]
    @pokemon_id int
   ,@attack_id int
   ,@stab int OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	set @stab = 0

	declare @type_id int = (select type_id from attacks where attack_id = @attack_id)

	if(exists(select pokemon_type_id
	            from pokemons_types
	           where pokemon_id = @pokemon_id
			     and type_id = @type_id))
	begin
	  set @stab = 1
	end
END

GO
/****** Object:  Trigger [dbo].[attacks_charge_disjoint]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[attacks_charge_disjoint]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[attacks_charge_disjoint]
   ON [dbo].[attacks_charge]
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;

declare @id int = (select i.attack_id from inserted as i)

IF EXISTS (SELECT *
           FROM dbo.attacks_quick as a
           WHERE a.attack_id = @id)
BEGIN
    RAISERROR (''This attack already exists on ''''Quick Attacks'''' table.'', 16, 1);
    ROLLBACK TRANSACTION;
    RETURN
END

END
' 
GO
ALTER TABLE [dbo].[attacks_charge] ENABLE TRIGGER [attacks_charge_disjoint]
GO
/****** Object:  Trigger [dbo].[attacks_quick_disjoint]    Script Date: 26/11/2016 20:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[attacks_quick_disjoint]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[attacks_quick_disjoint]
   ON [dbo].[attacks_quick]
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;

declare @id int = (select i.attack_id from inserted as i)

IF EXISTS (SELECT *
           FROM dbo.attacks_charge as a
           WHERE a.attack_id = @id)
BEGIN
    RAISERROR (''This attack already exists on ''''Charge Attacks'''' table.'', 16, 1);
    ROLLBACK TRANSACTION;
    RETURN
END

END
' 
GO
ALTER TABLE [dbo].[attacks_quick] ENABLE TRIGGER [attacks_quick_disjoint]
GO
