@{
    ViewBag.Title = "PoGym - Battle calculator for Pokémon GO";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>PoGym - Battle calculator for Pokémon GO</h1>
            <h2>Gotta *Battle* 'Em All</h2>
        </div>
        <div class="col-md-4">
            <div class="row text-center">
                <h3>Your Pokémons</h3>
            </div>
            <div class="row vertical-align text-center space-row">
                <div class="col-md-2">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
                <div class="col-md-3">
                    Bulbassaur<br />Grass/Poison
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            Tackle
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +25%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Vine Whip
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +5%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical-align text-center space-row">
                <div class="col-md-2">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
                <div class="col-md-3">
                    Bulbassaur<br />Grass/Poison
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            Tackle
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +25%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Vine Whip
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +5%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical-align text-center space-row">
                <div class="col-md-2">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
                <div class="col-md-3">
                    Bulbassaur<br />Grass/Poison
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            Tackle
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +25%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Vine Whip
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +5%
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <h5>Append to list</h5>
            <div class="row vertical-align">
                <div class="col-md-6">
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-default">Add</a>
                </div>

            </div>
        </div>

        <div class="col-md-4 space-rows">
            <div class="row text-center">
                <h3>Pokémons at Gym</h3>
            </div>
            <div class="row vertical-align text-center">
                <div class="col-md-2">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
                <div class="col-md-3">
                    Bulbassaur<br />Grass/Poison
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            Tackle
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +25%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Vine Whip
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +5%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical-align text-center">
                <div class="col-md-2">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
                <div class="col-md-3">
                    Bulbassaur<br />Grass/Poison
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            Tackle
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +25%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Vine Whip
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +5%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical-align text-center">
                <div class="col-md-2">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
                <div class="col-md-3">
                    Bulbassaur<br />Grass/Poison
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            Tackle
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +25%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Vine Whip
                        </div>
                        <div class="col-md-3">
                            8.9
                        </div>
                        <div class="col-md-3">
                            +5%
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <h5>Add to list</h5>
            <div class="row vertical-align">
                <div class="col-md-6">
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-default">Add</a>
                </div>

            </div>
        </div>

        <div class="col-md-4 text-center">

            <div class="row">
                <h3>Best attack order</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="http://pokemongo.gamepress.gg/sites/default/files/styles/pokemon_small/public/2016-08/1_0.png" />
                </div>
            </div>
        </div>
    </div>
</div>

@*
    <select class="form-control" id="select">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
*@